@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --blue: #0ea5e9;
    --yellow: #eab308;
    --background-grey: #e2e8f0;
}

body {
    font-family: 'Roboto',sans-serif;

    height: 100vh;

    display: grid;
    grid-template: 200px 1fr / 300px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}

main {
    background-color: var(--background-grey);
}

aside{
    color: white;
    background-color: var(--blue);

    grid-area: aside;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 60px;
}

h1 {
    margin: 15px 0 0;
    padding: 0 10px;
}

.app-navigation, 
.extra-navigation {
    display: grid;
    gap: 15px;
}

nav div {
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 700;
}